[bans]
multiple-versions = "deny"
skip-tree = [
    { name = "windows-sys", version = "0.45" },
    { name = "winit", version = "0.29" },
    { name = "rustc_version", version = "0.2.3" },
    { name = "miniz_oxide", version = "0.7.4" },

    # introduced by Deno, to be investigated
    { name = "strum_macros", version = "0.25.3" },
    { name = "petgraph", version = "0.6.5" },
    { name = "base64-simd", version = "0.7.0" },
    { name = "bit-set", version = "0.5.3" },
    { name = "bit-vec", version = "0.6.3" },
    { name = "capacity_builder", version = "0.1.3" },
]
skip = [
    # Flume uses an old version
    { name = "nanorand", version = "0.7.0" },

    # Deno uses an old version
    { name = "which", version = "6.0.3" },

    # Loom uses a new windows version
    { name = "windows", version = "0.61.1" },
    { name = "windows-core", version = "0.61.2" },
    { name = "windows-implement", version = "0.60.0" },
    { name = "windows-interface", version = "0.59.1" },
    { name = "windows-result", version = "0.3.4" },
    { name = "windows-strings", version = "0.4.2" },

    # criterion uses an old version
    { name = "itertools", version = "0.10.5" },
    # bindgen (used by deno) uses old version
    { name = "itertools", version = "0.13.0" },
    # loom (used by tracy-client) uses old `matchers` crate
    { name = "regex-automata", version = "0.1.10" },
    { name = "regex-syntax", version = "0.6.29" },
    # Strum uses an old version
    { name = "heck", version = "0.4.0" },
    # Deno uses an old version
    { name = "strum", version = "0.25.0" },
]
wildcards = "deny"
allow-wildcard-paths = true

[advisories]
# `paste` crate is no longer maintained https://rustsec.org/advisories/RUSTSEC-2024-0436
# It's a dependency of `metal` (which is to be replaced with `objc2`) and a transitive dependency of `deno`.
ignore = ["RUSTSEC-2024-0436"]

[licenses]
allow = [
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "CC0-1.0",
    "ISC",
    "MPL-2.0",
    "MIT",
    "MIT-0",
    "Unicode-DFS-2016",
    "Unicode-3.0",
    "Zlib",
]
private = { ignore = true }

[sources]
allow-git = [
    # Waiting on releases; used in examples only
]
unknown-registry = "deny"
unknown-git = "deny"
required-git-spec = "rev"

[sources.allow-org]
github = ["gfx-rs"]
